.font-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* center everything horizontally */
  gap: 16px; /* space between rows and reset button */
  width: fit-content;
}

.font-controls{
  display: flex;
  flex-direction: row;
  gap: 16px; /* space between title group and body group */
  background: var(--header-bg);
  padding: 16px;
  border-radius: 12px;
  width: fit-content;
}

.font-controls p {
  margin: 0;
  font-weight: bold;
  
}

.font-controls-row {
  display: flex;
  gap: 40px; /* space between Title and Body sections */
}

.button-row {
  display: flex;
  gap: 5px; /* space between the increase/decrease buttons */
}

.button.reset {
  margin-top: 5px; /* space above the reset button */
}

.content{
  border-radius: 12px;
}

.content h2{
  color:var(--text-color);
}

.theme-container{
  display: flex;
  flex-direction: row;
  gap: 16px; /* space between title group and body group */
  background: var(--header-bg);
  padding: 16px;
  border-radius: 12px;
  width: fit-content;
  align-items: center; /* center everything horizontally */
  font-weight: bold;
  color:var(--text-color);
}