.font-controls-container, .icon-controls-container  {
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  gap: 16px; /* space between rows and reset button */
  width: 100%; 
}

.font-controls, .icon-controls{
  display: flex;
  gap: 16px; /* space */
  background: var(--header-bg); 
  padding: 16px;
  border-radius: 12px;
  max-width: 375px;
  justify-content: center; /* center items inside the row */
  align-items: center; /* vertical alignment */
}

.font-controls p {
  margin: 0;
  font-weight: bold;
}

.font-controls-row, .icon-controls-row {
  display: flex;
  gap: 40px; /* space */
  justify-content: center; /* center items inside the row */
}

.button-row {
  display: flex;
  gap: 5px; /* space between the increase/decrease buttons */
}

.button.reset {
  margin-top: 5px; /* space above the reset button */
}

.content, .content-bottom h2{
  color:var(--text-color);
  text-align: center; /* centers the text on the page*/
}

.theme-container{
  display: flex;
  gap: 16px; /* space between words and button */
  background: var(--header-bg);
  padding: 16px;
  border-radius: 12px;
  width: fit-content;
  align-items: center;
  font-weight: bold;
  color:var(--text-color);
}

.content-bottom{
  border-radius: 12px;
  padding-bottom: 100px;
}