.forum-card{
    display: flex;
    border-radius: 15px; /* rounds the edges */
    border: 2px solid var(--border-color); /* colour */
    background-color: var(--header-bg); /* colour */
    justify-content: space-between;
    padding: 0.5rem 0.5rem; /* bigger space within the cards*/
    margin: 1rem 0; /* puts a gap between cards*/
    align-items: center;
    box-shadow:0 10px 5px rgba(0, 0, 0, 0.15);
}

.forum-title{
    font-weight: bold;
    color: var(--text-color);
}

.forum-date{
    color: var(--text-color);
}

.form-category{
    color: var(--text-color);
}


.forum.column{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.forum-list{
    width: 90%;
    margin-top: 1rem;
    padding-bottom: 100px;
}

.forum-list h2{
    border: 2px solid var(--border-color);
    border-radius: 15px;
    display: flex;
    background-color: var(--header-bg);
    padding: 10px;
    justify-content: center;
}

.forum-arrow {
    opacity: 1;
    font-size: xx-large;
    padding-left: 5px;
    justify-content: right;
}