.forum-card{
    border: 2px solid var(--border-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;       /* stack title, desc, and button vertically */
    align-items: start;          /* centers them horizontally */
    background-color: var(--header-bg);
    padding: 10px;
    margin-top: 16px;
}

.forum-title{
    border-radius: 10px;
    font-weight: bold;
    text-decoration-thickness: 2px;
    color: var(--text-color);
}

.forum-desc{

}


.forum-date{

}


.forum.column{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.forum-list{
    width: 90%;
    margin-top: 1rem;
}