.Search-Bar{
    display: flex;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    border: 1px solid black;
    background-color: #ffffff;
    width: 95%;         /* almost full width of container */
    max-width: 375px;   /* keeps it aligned with header */
    box-sizing: border-box;  
}