.settings-item{
    display: flex;
    border-radius: 15px; /* rounds the edges */
    border: 2px solid var(--border-color);
    background-color: var(--header-bg); /* colour */
    padding: 0.5rem 0.5rem; /* bigger space within the cards*/
    margin: 1rem 0; /* puts a gap between cards*/
    align-items: center;
    justify-content: space-between;
    width: 90%;
    }

.dropbtn{
    cursor: pointer;
}

.dropdown-content {
    display: none; /* hidden by default */
    
}

