.toolbar{
    position: fixed; /* Fixes it's postion on the screen so it's always visible even when scrolling*/
    bottom: 0; /* puts it at the bottom of the screen*/
    display: flex; 
    justify-content: space-around;
    left: 50%;  /* moves the toolbar's left to the center*/ 
    transform: translateX(-50%); /* fixes the above so that it is properly centered*/
    gap: 1rem; /* put space between the links*/
    padding: 1rem 2rem;
    border-radius: 12px; /* rounds the edges */
    background-color: rgb(255, 255, 255); /* colour */
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* subtle shadow */
    width: 90%;
    max-width: 375px;   
}

.toolbar-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  color:black;
  transition: color 0.2s ease;
}

.toolbar-icon.selected {
  color: #9234fd; /* your active color */
}