
.tutorial-header{
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 1rem;                
    margin-bottom: 10px;
    justify-content: space-between;
    position: relative;
    text-decoration: underline;
}

.tips-list{
    border-color: black; /* colour */
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
}

.tutorial-content{
    flex-direction: column;
    padding-bottom: 100px;
}

.tutorial-content p{
    border-color: black; /* colour */
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    background-color: rgb(255, 255, 255);
}