.tutorial-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px; /* space so content isn't hidden by navbar */
}

.tutorial-list {
  margin: 1rem;
  padding-top: 5px; /* so the top isn't behind the searchbar*/
}
