
.tutorial-header{
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 1rem;                
    margin-bottom: 10px;
    justify-content: space-between;
    position: relative;
}

.tutorial-header h2{
    color: var(--text-color);
    text-decoration: underline;
}

.tips-list{
    border: 2px solid var(--border-color); /* colour */
    border-radius: 15px;
    padding: 1rem 2rem;
    background-color: var(--header-bg); /* colour */
}

.tutorial-content{
    flex-direction: column;
    padding-bottom: 100px; /* content isn't hidden by navbar*/
}

.tutorial-content p{
    border: 2px solid var(--border-color); /* colour */
    border-radius: 15px;
    padding: 0.5rem 1rem;
    background-color: var(--header-bg);
}