.tutorial-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px; /* space so content isn't hidden by navbar */
}

.tutorial-list {
  margin: 1rem;
  padding-top: 5px; /* so the top isn't behind the searchbar*/
}

.tutorial-list h2 {
  background-color: var(--header-bg);
  padding: 1rem 2rem;
  border-radius: 15px; /* rounds the edges */
  border: 1px solid var(--border-color); /* colour */
  color: var(--text-color);
}
