
.App{
  display: flex; 
  justify-content: center;
}

.App-Header{
  padding: 2rem 3rem;
  border-radius: 12px; /* rounds the edges */
  border-color: var(--border-color); /* colour */
  width: 80%;
  border-style: solid;
  background-color: var(--header-bg); /* colour */
  font-size: var(--title-size);
  margin-bottom: 1rem;
  text-align: center;
}

.Mobile-Screen{
  width: 100%;
  max-width: 375px; /*roughly mobile size*/
  min-height: 100vh;   /* full screen height */
  background-color: var(--bg-color);
  padding: 1rem; /* inner spacing */
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: center; /* center elements horizontally */
  gap: 1rem; /* space between items */
  font-size: var(--body-size);
  color: var(--text-color);
}

.back-btn{
  background-color: var(--button-bg);
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--button-text);
}

.button{
  background-color: var( --button-bg);
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--button-text);
  margin-bottom: 0.5rem;
}
/*Default mode*/
:root {
  --bg-color: #6F9773;
  --text-color: #1A1A1A;
  --header-bg: #f5f5f5;
  --button-bg: #1A1A1A;
  --button-text: #ffffff;
  --border-color: #1A1A1A;
  --profile-posts-color: #3A3A3A;
  --profile-posts-text-color: #ffffff;
}

/* Light mode */
:root[data-theme="light"] {
  --bg-color: #6F9773;
  --text-color: #1A1A1A;
  --header-bg: #f5f5f5;
  --button-bg: #1A1A1A;
  --button-text: #ffffff;
  --border-color: #1A1A1A;
  --profile-posts-color: #3A3A3A;
  --profile-posts-text-color: #ffffff;
}

/* Dark mode */
:root[data-theme="dark"] {
  --bg-color: #1b3825;
  --text-color: #f5f5f5;
  --header-bg: #1E1E1E;
  --button-bg: #ffffff;
  --button-text: #1a1a1a;
  --border-color: white;
  --profile-posts-color: #1a1a1a;
  --profile-posts-text-color: #fdfdfd;
}
