

.App{
  display: flex; 
  justify-content: center;
}

.App-Header{
  padding: 1rem 2rem;
  border-radius: 12px; /* rounds the edges */
  border-color: black; /* colour */
  border-style: solid;
  background-color: rgb(255, 255, 255); /* colour */
  font-size: var(--title-size);
  margin-bottom: 1rem;
}

.Mobile-Screen{
  width: 100%;         /* or fixed width if mobile only */
  max-width: 375px;
  min-height: 100vh;   /* full screen height */
  background-color: #5a7c5d;
  border-radius: 20px; /* Rounded edges */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow around it */
  padding: 1rem; /* Inner spacing */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center elements horizontally */
  gap: 1rem; /* Space between items */
  overflow-y: auto; /* Will give it a scroll bar is needed*/
  margin-top: 1rem;
  font-size: var(--body-size);
  color: black;
}

.back-btn{
  background-color: #1A1A1A;
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  cursor: pointer;
  color: #f5f5f5;
}

.button{
  background-color: #1A1A1A;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
}


